// form.scss
$primary-color: #00AE9D;
$secondary-color: #003641;
$button-color: #C9D200;
$button-hover-color: #7DB61C;
$text-color: #ffffff;

body {
    font-family: Arial, sans-serif;
    background-color: $primary-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: $secondary-color;
}

.form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.option-group {
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: $text-color;
    }

    input[type="checkbox"] {
        cursor: pointer;
        margin-right: 10px;
    }

    .input-set {
        margin-top: 10px;
        padding: 20px;
        background-color: $primary-color;
        border-radius: 10px;
        display: none;

        .input-group {
            margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 10px;
                color: $text-color;
                font-weight: bold;
            }

            input[type="text"] {
                width: calc(100% - 25px);
                padding: 10px;
                border-radius: 5px;
                border: 1px solid $button-color;
                color: $secondary-color;
            }

            input[type="checkbox"] {
                cursor: pointer;
                margin-right: 10px;
            }
        }

        .erase-container {
            text-align: right;
            margin-bottom: 10px;
        }

        .erase-icon {
            cursor: pointer;
            font-size: 18px;
            color: $button-color;
            transition: color 0.3s;
        }

        .erase-icon:hover {
            color: $button-hover-color;
        }
    }
}

#calculate-button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background-color: $button-color;
    color: $secondary-color;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#calculate-button:hover {
    background-color: $button-hover-color;
}

.home-link svg:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .form-container {
        padding: 10px;
    }
}